##################################################
# Project
##################################################

# Compiled versions
*.exe
# Don't know what this is
*.exe.mdb
# Compilation temp files
obj
# Compiled results
bin

# The results file for testing
results.csv
# The targets file for testing
targets.txt

##################################################
# Windows
##################################################

# Folder metadata
desktop.ini

##################################################
# Mac
##################################################

# Folder metedata
.DS_Store
